################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Decision/v15
/Decision.API/obj/Debug
/Decision.API/bin
/Decision.Mobile/bin
/Decision.Mobile/obj/Debug
/packages
/Decision.API/obj/Release
/Decision.Mobile/obj/Release
