<!DOCTYPE html>
<html>
<head>
    <title>Cadastro1</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <link type="text/css" rel="stylesheet" href="../../Content/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../Content/custom.css">


    <script type="text/javascript" src="../../Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../../Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../Scripts/apiCall.js"></script>

    <script type="text/javascript">
        function navegar() {
            window.location.href = "Cadastro3";
        }
    </script>
</head>
<body>


    <div class="tituloDocumento">Seu documento</div>

    <div class="caixaDocumento col-md-4">
        <div class="">imagem do documento</div>
    </div>

    <div class="textotitulos">Confirme seus dados para prosseguir.</div>

    <div class="dadosDocumento col-md-2 row">
        <ul>
            <li>Nome:</li>
            <li>RG:</li>
            <li>CPF:</li>
            <li>Data nasc.:</li>
            <li>Nome da mãe:</li>
            <li>Validade:</li>
        </ul>

        <ul class="saidadados">
            <li>EDNEY DE BRITO ELIAS</li>
            <li>2018526-0</li>
            <li>850358312-72</li>
            <li>06/04/1987</li>
            <li>MARIAMAR DE BRITO ELIAS</li>
            <li>26/07/2010</li>
        </ul>
    </div>

    <div class="botoes row col-md-2">

        <button class="btn2 mx-auto d-block" onclick="navegar()">Confirmar</button>

        <div class="upload-btn-wrapper col-md-2">
            <button class="btn3 rounded mx-auto d-block">Tirar outra foto</button>
            <input type="file" accept="image/*" capture="camera" />
        </div>
    </div>

</body>
</html>
