<!DOCTYPE html>
<html>
<head>
    <title>Cadastro4</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <link type="text/css" rel="stylesheet" href="../Content/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../Content/custom.css">

    <script type="text/javascript" src="../Scripts/bootstrap.js"></script>
</head>
<body>


	<div class="tituloDocumento">Sua self, curtiu?</div>
	
	<div class="caixaDocumento col-md-4">
        <div class="">imagem da self</div>
    </div>
	
	<div class="botoes row col-md-2">
		<button class="btn2 mx-auto d-block">Confirmar</button>

		<div class="upload-btn-wrapper col-md-2">
		<button class="btn3 rounded mx-auto d-block">Tirar outra foto</button>
		<input type="file" accept="image/*" capture="camera" />
		</div>
	</div>

</body>
</html>