<!DOCTYPE html>
<html>
<head>
    <title>Cadastro5</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <link type="text/css" rel="stylesheet" href="../../Content/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../Content/custom.css">


    <script type="text/javascript" src="../../Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../../Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../Scripts/apiCall.js"></script>

    <script type="text/javascript">

        function finalizar() {
            window.location.href = "Finalizar";
        }
    </script>
</head>
<body>

	<div class="logoPequeno">
		<img src="../imagens/logoPequeno.png" class="rounded mx-auto d-block" />
	</div>

    <div class="textotitulos">Agora é só inserir um e-mail válido e uma senha.<br>Não esqueça, precisamos de um e-mail válido.</div>
    <br>
    <input type="text" placeholder="E-mail" class="form-control">
    <br>
    <input type="password" placeholder="Senha" class="form-control">
    <br>
    <div class="botoes row col-md-2">
		<button class="btn2 mx-auto d-block" onclick="finalizar()">Finalizar</button>
	</div>


</body>
</html>