<!DOCTYPE html>
<html>
<head>
    <title>Cadastro3</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <link type="text/css" rel="stylesheet" href="../../Content/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../Content/custom.css">


    <script type="text/javascript" src="../../Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../../Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../Scripts/apiCall.js"></script>
</head>
<body>

	<div class="logoPequeno">
		<img src="../imagens/logoPequeno.png" class="rounded mx-auto d-block" />
	</div>

	<div class="textotitulos">Legal, agora precisamos de uma self.<br>Vamos lá! :)</div>


	<div class="upload-btn-wrapper">
	  <button class="btn rounded mx-auto d-block">Tirar foto</button>
	  <input type="file" accept="image/*" capture="camera" />
	</div>


</body>
</html>