<!DOCTYPE html>
<html>
<head>
    <title>Cadastro3</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <link type="text/css" rel="stylesheet" href="../../Content/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../Content/custom.css">


    <script type="text/javascript" src="../../Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../../Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../Scripts/apiCall.js"></script>
</head>
<body>

    <div class="logoPequeno">
        <img src="../imagens/logoPequeno.png" class="rounded mx-auto d-block" />
    </div>

    <div class="logoVisto">
        <img src="../imagens/visto.png" class="rounded mx-auto d-block" />
    </div>

    <div class="textoFinalizacao"><b>Tudo certo!</b></div>

    <div class="textoFinalizacao">Estamos validando suas informações!</div>

    <div class="textotitulos">Agora é só esperar nosso retorno e aproveitar as vantagens do <b>DECISION</b></div>

    <div class="textotitulos"><h2><b>Aguarde :)</b></h2></div>



</body>
</html>