<!DOCTYPE html>
<html>
<head>
    <title></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="no">

    <link type="text/css" rel="stylesheet" href="../../Content/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../Content/splash.css">


    <script type="text/javascript" src="../../Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../../Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../Scripts/apiCall.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            carregarSplash();
        });
    </script>
</head>
<body>

    <div class="logoGrande">
        <a href="Cadastro1">
            <img src="../imagens/logoGrande.png" class="rounded mx-auto d-block" />
        </a>
    </div>
</body>
</html>